<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h2>Small NFLX API</h2>
<table border='1' cellpadding="10px"><caption><h3>Instructions:</h3></caption>
    <tr><td><b>Get films by title:</b></td><td>GET /movie/title/?s=train</td></tr>
    <tr><td><b>Get first 100 films by release years between year1 qnd year2:</b></td><td>GET /movie/year/year1/year2</td></tr>
    <tr><td><b>Get films by category (children, family, adult):</b></td><td>GET /rating/children</td></tr>
    <tr><td><b>Get first 10 films by genre (sorted by release year desc):</b></td><td>GET /genre/thriller</td></tr>
    <tr><td><b>Get pairs (>2 times) to the two given actors:</b></td><td>GET /2actors/?actor1=Rose McIver&actor2=Ben Lamb</td></tr>
    <tr><td><b>Finds movies by type, year or genre:</b></td><td>GET /movie/?year=2020&type=Movie&genre=Thrillers</td></tr>
</table>
</body>
</html>